


    <%# Navbar %>


    
      <% errors.forEach(error => { %>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
      <% }) %>

      <% infos.forEach(info => { %>
      <div class="alert alert-info" role="alert">
        <%= info %>
      </div>
    <% }) %>
